  <section class="section product-grid categorias-grid overflow-hidden ps-5 pe-5 pe-lg-0 ps-lg-0">
     <div class="container">
        <div class="section-title">
            <h2 class="d-block title">Ocasiões</h2>
        </div>
        <div class="items d-none d-lg-flex align-items-stretch justify-content-between flex-wrap">
            {% for category in categories if category.title == "Ocasiões" %}
                {% if category.children and category.children|length %}
                    {% for children in category.children %}
                        <div class="item flex-fill d-flex flex-column">
                            <a href="{{children.link}}" title="Ternos" class="thumbnail d-flex flex-column justify-content-end overflow-hidden" style="background-image: url({{ asset('img/'~children.name~'.png') }})">
                                <span>{{children.name}}</span>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}       
        </div>
        
        <div class="items d-flex d-lg-none align-items-stretch justify-content-between">
            {% for category in categories if category.title == "Ocasiões" %}
                {% if category.children and category.children|length %}
                    {% for children in category.children %}
                        <div class="item flex-fill d-flex flex-column">
                            <a href="{{children.link}}" title="{{children.name}}" class="thumbnail d-flex flex-column justify-content-end overflow-hidden" style="background-image: url({{ asset('img/'~children.name~'.png') }})">
                                <span>{{children.name}}</span>
                            </a>
                        </div>                        
                    {% endfor %}
                {% endif %}
            {% endfor %}      
        </div>
     </div>
</section>