 <div itemid="{{ product.id }}" data-url="" class="card product{{ product.has_other_prices ? ' has-other-prices' }}">
    {% if not product.is_kit %}
        <a href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}" data-tray-tst="vitrine_produto_link_imagem">
    {% else %}
        <a href="{{ product.link }}" data-tray-tst="vitrine_produto_link_imagem">
    {% endif %}
            <div class="product-image overflow-hidden">
                    <img class="img" src="{{ product.images[0].large }}" loading="lazy" class="img-fluid" />
                    {% if product.images[1].large %}
                    <img class="img d-none" src="{{ product.images[1].large }}" loading="lazy" class="img-fluid" />
                    {% endif %}
                    <!--{% if product.images %}-->
                    <!--    {% if utils.is_mobile %}-->
                    <!--        <img itemprop="image" src="{{ product.images[0].large }}" alt="{{ product.name }}" title="{{ product.name }}">-->
                    <!--    {% else %}-->
                    <!--        <img itemprop="image"  data-original="{{ product.images[0].large }}" class="lazy" src="{{ asset('img/loading.svg') }}" alt="{{ product.name }}" title="{{ product.name }}">-->
                    <!--    {% endif %}-->
                    <!--{% else %}-->
                    <!--    <img src="{{ asset('img/no-image.svg') }}" alt="Nenhuma imagem foi cadastrada" width="100" title="{{ product.name }}">-->
                    <!--{% endif %}-->
                    <div class="tags d-flex align-items-center flex-wrap">
                        {% set replaceTags = {'src=': 'width="119" height="22" alt="Selo" src='} %}
                        
                        {% if settings.discount %}
                            {% set porcentagemDesconto = 100 - ( product.price_offer / product.price ) * 100 %}
                            {% if porcentagemDesconto < 100 %}
                              <div class="tag discount"> {{ porcentagemDesconto|number_format }}% off </div>
                            {% endif %}  
                        {% endif %}  
                        
                        {% if product.new and Image('new') %}
                            <div class="tag new">
                                Novidade
                            </div>
                        {% endif %}
            
                        {% if product.featured and Image('featured') %}
                            <div class="tag featured">
                                Destaque
                            </div>
                        {% endif %}
            
                        {% if product.free_shipping and Image('free_shipping')  %}
                            <div class="tag free-shipping">
                                Frete Grátis
                            </div>
                        {% endif %}   
                    </div>
                    <div class="actions overflow-hidden d-none d-lg-flex flex-column align-items-center justify-content-end">
                        {% if product.variants and product.variants[0].id %}
                            <button onclick="location.href = '{{ product.link }}';" class="d-flex align-items-center justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                                  <path d="M12.7188 1.5C13.7133 1.5 14.6671 1.89509 15.3704 2.59835C16.0737 3.30161 16.4688 4.25544 16.4688 5.25V6H8.96875V5.25C8.96875 4.25544 9.36384 3.30161 10.0671 2.59835C10.7704 1.89509 11.7242 1.5 12.7188 1.5ZM17.9688 6V5.25C17.9688 3.85761 17.4156 2.52226 16.4311 1.53769C15.4465 0.553123 14.1111 0 12.7188 0C11.3264 0 9.99101 0.553123 9.00644 1.53769C8.02187 2.52226 7.46875 3.85761 7.46875 5.25V6H2.21875V21C2.21875 21.7956 2.53482 22.5587 3.09743 23.1213C3.66004 23.6839 4.4231 24 5.21875 24H20.2188C21.0144 24 21.7775 23.6839 22.3401 23.1213C22.9027 22.5587 23.2188 21.7956 23.2188 21V6H17.9688ZM3.71875 7.5H21.7188V21C21.7188 21.3978 21.5607 21.7794 21.2794 22.0607C20.9981 22.342 20.6166 22.5 20.2188 22.5H5.21875C4.82093 22.5 4.43939 22.342 4.15809 22.0607C3.87679 21.7794 3.71875 21.3978 3.71875 21V7.5Z" fill="white"/>
                                </svg>                                  
                                <span>Comprar</span>
                            </button>
                        {% else %}
                            <button class="d-flex align-items-center justify-content-center add-to-cart-grid" data-app="product.buy-button" data-product="{{ product.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                                  <path d="M12.7188 1.5C13.7133 1.5 14.6671 1.89509 15.3704 2.59835C16.0737 3.30161 16.4688 4.25544 16.4688 5.25V6H8.96875V5.25C8.96875 4.25544 9.36384 3.30161 10.0671 2.59835C10.7704 1.89509 11.7242 1.5 12.7188 1.5ZM17.9688 6V5.25C17.9688 3.85761 17.4156 2.52226 16.4311 1.53769C15.4465 0.553123 14.1111 0 12.7188 0C11.3264 0 9.99101 0.553123 9.00644 1.53769C8.02187 2.52226 7.46875 3.85761 7.46875 5.25V6H2.21875V21C2.21875 21.7956 2.53482 22.5587 3.09743 23.1213C3.66004 23.6839 4.4231 24 5.21875 24H20.2188C21.0144 24 21.7775 23.6839 22.3401 23.1213C22.9027 22.5587 23.2188 21.7956 23.2188 21V6H17.9688ZM3.71875 7.5H21.7188V21C21.7188 21.3978 21.5607 21.7794 21.2794 22.0607C20.9981 22.342 20.6166 22.5 20.2188 22.5H5.21875C4.82093 22.5 4.43939 22.342 4.15809 22.0607C3.87679 21.7794 3.71875 21.3978 3.71875 21V7.5Z" fill="white"/>
                                </svg>         
                                <span>Adicionar ao carrinho</span>
                            </button>
                        {% endif %}
                    </div>
            </div>
                
            <div class="product-info">
                    <h3 class="product-name text-start" itemprop="name">{{ product.name }}</h3>
            
                    <meta itemprop="productID" content="{{ product.id }}"/>
                    <meta itemprop="sku" content="{{ product.id }}"/>
            
                    {% if product.ean %}
                        <meta itemprop="gtin14" content="{{ product.ean }}">
                    {% endif %}
                    
                    {% if product.description_small %}
                        <meta itemprop="description" content="{{ product.description_small }}">
                    {% endif %}
                    
                    <!--{% if product.brand %}-->
                    <!--<span itemprop="brand" itemscope itemtype="http://schema.org/Organization">-->
                    <!--    <meta itemprop="name" content="{{ product.brand }}"/>-->
                    <!--</span>-->
                    <!--{% endif %} -->
            
                    {% for discount in product.ProgressiveDiscounts %}
                        {% if discount.tag %}
                            <div class="product-discount-recursive-tag">{{discount.tag}}</div>
                            <div class="product-discount-recursive-desc">{{discount.description}}</div>
                        {% endif %}
                    {% endfor %} 
                
                    {% if settings.cache_infopreco %}
                        <div data-module="pricing" data-snippet="snippets/product-payment" data-product-id="{{ product.id }}">
                            <div class="pricing">
                                Carregando...
                            </div>
                        </div>
                    {% else %}
                        {% element 'snippets/product-payment' {"product": product } %}
                    {% endif %}
                    
                {% if pages.current == 'catalog' and settings.compare %}
                <div class="compare-buttons">
                    {% set compareCSS = 'compare-hidden' %}
            
                    <a data-compare="remove" href="{{ links.compare_delete ~ product.id }}" class="{{ not product.compare ? compareCSS }}">
                        <span class="filter-checkbox checked"></span>
                        {{ Translation("remover_comparar") }}
                    </a>
                    
                    <a data-compare="add" href="{{ links.compare_add  ~ product.id }}" class="{{ product.compare ? compareCSS }}">
                        <span class="filter-checkbox"></span>
                        {{ Translation("comparar_produto") }}
                    </a>
                </div>
                {% endif %}
            </div>
        </a>
</div>