<section class="section search">
     <div class="container">
        <!--<div class="section-title">-->
        <!--    <h2 class="d-block title">{% if "somente_oferta" in store.current_url %} Ofertas {% else %} Busca {% endif %} <small class="d-block">Resultados de busca {% if search.word %} para "{{ search.word }}" {% endif %}</small></h2>-->
        <!--</div>-->
        <div class="catalog">
            <div class="d-flex align-items-stretch flex-wrap">
                {% if pages.current == "catalog" %}
                    <h3 class="d-block title mb-5 col-12 catalog-title">{{category.name}}</h3>
                {% endif %}
            
                {% element 'smartfilter' %}     
                <div class="content flex-fill">
                    
                    {% if products | length > 0 %}
                        <div class="filter d-flex justify-content-end pb-5 col-12">
                            {% element 'snippets/filter' {
                                'brands': category.brands
                            } %}
                        </div>
                    {% endif %}
                    
                    
                    {% if products | length > 0 %}
                        {% element 'showcase-catalog' {
                            "products": products
                        } %}
                        
                        {% element 'snippets/paginate' %}
                    {% else %}
                        <p class="d-block text-center p-5">{{ Translation('nenhum_resultado') }} :(</p>
                    {% endif %}
                </div>
            </div>
        </div>          
     </div>
</section>
